<h1>Multiple-against-multiple Sample</h1>
<h2>Welcome!</h2>
<h2>What I did</h2>
<ul>
	<li>
		Multiple-against-multiple relation: Items and Categories are linked with multiple-against-multiple relation<br />
		In items#show you can see categories related to an item, and in categories#show you can see items that belongs to a certain category<br />
		Categories for items can be set with a multiple select form
	</li>
	<li>And subfeatures</li>
	<ul>
		<li>
			In ApplicationHelper wrote line-break helper(br) and line-break helper without html escape(rbr)<br />
			(use with care because it might cause cross-site-scripting)
		</li>
		<li>
			Set root controller method(as usual)
		</li>
	</ul>
</ul>